<div class="container">
  <div class="flex items-center">
    <app-search class="flex-auto"></app-search>
    <a class="pl-2 pb-5" [routerLink]="['/agent/create']">
      <button mat-raised-button>Create</button>
    </a>
  </div>

  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_at | date : "yyyy-MM-dd hh:mm:ss" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="labels">
      <th mat-header-cell *matHeaderCellDef>Labels</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-set>
          @for(label of element.labels; track $index){
          <mat-chip>{{ label }}</mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex gap-2">
          <button mat-mini-fab><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'id',
        'name',
        'description',
        'created_at',
        'labels',
        'options'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'id',
          'name',
          'description',
          'created_at',
          'labels',
          'options'
        ]
      "
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
